h1, h2, h3, h1 small {
  font-weight: 800 
}

header {
  background-image: url(../img/header.jpg);
  font-size: 6em;
  text-shadow: 2px 2px #555
}

.aqua {
  color: cyan
}

.blue {
  color: blue
}

.fuchsia {
  color: fuchsia
}

.lime {
  color: lime
}

.yellow {
  color: yellow
}
